[Unit]
Description=Smart Azan System
Wants=network-online.target
After=network-online.target bluetooth.target sound.target

[Service]
User=__USER__
Type=simple
ExecStart=%h/smart_azan_final/venv/bin/gunicorn -c %h/smart_azan_final/gunicorn_conf.py app:app
WorkingDirectory=%h/smart_azan_final
ExecStartPre=/bin/sleep 3
Restart=always
RestartSec=5
Environment="XDG_RUNTIME_DIR=/run/user/%U"
Environment="PULSE_SERVER=/run/user/%U/pulse/native"
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
