[Unit]
Description=Smart Azan System
Wants=network-online.target
After=network-online.target bluetooth.target sound.target

[Service]
User=__USER__
Type=simple
ExecStart=__HOME__/smart_azan_final/venv/bin/gunicorn -c __HOME__/smart_azan_final/gunicorn_conf.py app:app
WorkingDirectory=__HOME__/smart_azan_final
ExecStartPre=/bin/sleep 3
Restart=always
RestartSec=5
Environment="XDG_RUNTIME_DIR=/run/user/__UID__"
Environment="PULSE_SERVER=/run/user/__UID__/pulse/native"
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
